body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bc9898;
    background-image: url('backgroundGif.gif'); /* Arkaplan resmini belirtir */
    background-size: cover; /* Arkaplan resmini tüm alanı kaplayacak şekilde ayarlar */
    background-position: center; /* Arkaplan resmini ortalar */
    background-repeat: no-repeat; /* Arkaplan resmini tekrar etmez */
}

.login-container {
    background-image: url('pparchment.png'); /* Parşömen resmini arka plan olarak ayarlar */
    background-size: contain; /* Arka plan resmini içeriğe göre boyutlandırır */
    background-repeat: no-repeat; /* Arka plan resmini tekrar etmez */
    background-position: center; /* Arka plan resmini ortalar */    
    width: 300px; /* Genişlik ayarı */
    height: 500px; /* Yükseklik ayarı */ 
    padding: 50px; /* İçerik ile kenarlar arasındaki boşluk */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.input-container rememberMe {
    margin-bottom: 15px;
    font-size: 10px;
}

:link, :visited {
    color: #704caf;
    text-decoration: none;
    font-size: 13px;
}

.linkRegister {
    margin-top: auto;
    color: #00f108;
    background-color: #f0f0f0;
    text-decoration: none;
    font-size: 20px;
    align-self: flex-end; /* Sayfanın en altına yerleştirir */
}

img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    background-color: transparent;
    position: relative;
    top: 300px;
}

#clock {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    position: absolute; /* Kesin konumlandırma */
    top: 20px; /* Yukarıdan 20 piksel boşluk */
    right: 20px; /* Sağdan 20 piksel boşluk */
    color:wheat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px 0
}
/*Bu kısımda Github copilot, windows copilot ve deepseek ai yı kullandım. Bir modelden promt la aldığım çıktıyı farklı 
modellerde kullandım ve modifiye ettim. Aynı zamanda youtube, stackoverflow gibi sitelerden de yardım aldım. */
/*Sayfadaki giriş yapılan kısmı sayfanın tam merkezine sabitle. Sayfanın boyu küçülse bile hep ortada kalmaya devam etsin.*/